<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128332381646-b9ocpmo5p64gj6enmuf8dkh6srbesfhf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128332381646-b9ocpmo5p64gj6enmuf8dkh6srbesfhf</string>
	<key>API_KEY</key>
	<string>AIzaSyCEG9F-ZzYKJFLiQyzAM1u4ufeqzQtTC6g</string>
	<key>GCM_SENDER_ID</key>
	<string>128332381646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simform.SwifUICombineMVVMDemo</string>
	<key>PROJECT_ID</key>
	<string>swiftuicombinemvvmdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuicombinemvvmdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128332381646:ios:3169eb1030939c2a0cbf9f</string>
</dict>
</plist>